{% extends 'Layout/user_layout.html.twig' %}




{% block stylesheets %}
<style>

</style>


{% endblock %}

{% block h1 %}Actualités{% endblock %}

{% block body %}

<div class="pageTitle">
      <div>
            <h1>{{ post.title }}</h1>
      </div>
  </div>

  <div class="container">
  <p>Contenu de l'article ...</p>
    </div>

{% endblock %}

{% block javascripts %}

   
{% endblock %}